/*****************************TAG SELECTORS*******************************/
body{
    background-color:#FFFBE9;
}
hr{
    background-color: none;
    border-color: #E3CAA5;
    border-style: dotted;
    border-width: 5px 0 0 0;
    width:5%;
}
h1{
    color:#AD8B73;
}
h3{
    color:#AD8B73;
}
img{
    background-color: #FFFBE9;
}

/*****************************CLASS SELECTORS*******************************/
/* class groups related elements */
/* one element could belong to multiple classes */
/*
.classname{

}
*/

/*****************************ID SELECTORS*******************************/
/* id is unique */
/*
#idname{

}
*/